.clear {
  display: table;
  content: '';
  clear: both;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans';
}
nav {
  position: relative;
}
nav ul {
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: #1f1f14;
}
nav ul:after {
  display: table;
  content: '';
  clear: both;
}
nav ul li {
  display: inline;
  float: left;
}
nav ul li:first-child {
  margin-left: 20px;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #e6e6e6;
  padding: 8px 10px;
  height: 40px;
}
nav ul li a.active {
  background-color: #5d5d55;
}
nav input {
  position: absolute;
  top: 8px;
  right: 60px;
  border: 0;
  height: 24px;
  border-radius: 2px;
  padding: 2px 5px;
}
.table {
  width: 100%;
  padding: 20px;
}
.table table {
  width: 100%;
  border-collapse: collapse;
}
.table table thead {
  text-align: left;
}
.table table thead tr {
  border-bottom: 2px solid lightgrey;
}
.table table thead tr th {
  padding: 4px;
  font-weight: bold;
}
.table table tbody tr {
  border-bottom: 1px solid lightgrey;
}
.table table tbody tr td {
  padding: 4px;
}
.table table tbody tr td a {
  color: #1996e8;
  text-decoration: none;
}
.table table tbody tr td a:hover {
  text-decoration: underline;
}
form {
  margin: 20px;
}
form input,
form textarea {
  display: block;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid lightgrey;
  width: 250px;
}
form label {
  font-weight: 600;
}
form .formfield {
  margin-top: 10px;
}
form .submit-button {
  margin-top: 20px;
}
