.clear {
  display: table;
  content: '';
  clear: both;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans';
}
nav {
  position: relative;
}
nav ul {
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: #1f1f14;
}
nav ul:after {
  display: table;
  content: '';
  clear: both;
}
nav ul li {
  display: inline;
  float: left;
}
nav ul li:first-child {
  margin-left: 20px;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #e6e6e6;
  padding: 9px 10px;
  height: 40px;
}
nav ul li a.active {
  background-color: #5d5d55;
}
nav input {
  position: absolute;
  top: 8px;
  right: 90px;
  border: 0;
  height: 24px;
  border-radius: 2px;
  padding: 2px 5px;
}
nav .logout a {
  color: #e6e6e6;
  position: absolute;
  top: 9px;
  right: 20px;
  text-decoration: none;
}
.table {
  width: 100%;
  padding: 20px;
}
.table table {
  width: 100%;
  border-collapse: collapse;
}
.table table * {
  font-size: 15px;
}
.table table thead {
  text-align: left;
}
.table table thead tr {
  border-bottom: 2px solid lightgrey;
}
.table table thead tr th {
  padding: 4px;
  font-weight: bold;
  min-width: 150px;
}
.table table thead tr th:first-child {
  min-width: 40px;
}
.table table thead tr th.editable {
  min-width: 60px;
}
.table table thead tr th a {
  color: black;
  text-decoration: none;
}
.table table thead tr th a:hover {
  text-decoration: underline;
}
.table table thead tr th a.order {
  position: relative;
}
.table table thead tr th a.order.asc:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
  top: 7px;
  right: -15px;
}
.table table thead tr th a.order.desc:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid black;
  top: 7px;
  right: -15px;
}
.table table tbody tr {
  border-bottom: 1px solid lightgrey;
}
.table table tbody tr td {
  padding: 4px;
}
.table table tbody tr td a {
  color: #1996e8;
  text-decoration: none;
}
.table table tbody tr td a:hover {
  text-decoration: underline;
}
.table table tbody tr td img {
  max-height: 80px;
}
form {
  margin: 20px;
}
form input,
form textarea {
  display: block;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid lightgrey;
  width: 250px;
}
form input[type="checkbox"] {
  width: auto;
}
form label {
  font-weight: 600;
}
form .formfield {
  margin-top: 10px;
}
form .submit-button {
  margin-top: 20px;
}
form p {
  border: 1px solid lightgrey;
  margin: 0;
  display: inline-block;
  padding: 2px;
  width: 250px;
  border-radius: 4px;
}
.pagination-container {
  margin-top: 20px;
  width: 100%;
}
.pagination-container ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.pagination-container ul:after {
  display: table;
  content: '';
  clear: both;
}
.pagination-container ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}
.pagination-container ul li a,
.pagination-container ul li span {
  text-decoration: none;
  color: #1996e8;
  display: block;
  padding: 2px;
}
.pagination-container ul li a:hover,
.pagination-container ul li span:hover {
  text-decoration: underline;
}
.pagination-container ul li.active span,
.pagination-container ul li.disabled span {
  color: #5d5d55;
}
.export {
  margin-left: 20px;
}
.export a {
  display: block;
  text-decoration: none;
  color: #1996e8;
}
.export a:hover {
  text-decoration: underline;
}
footer {
  height: 200px;
  width: 100%;
}
